.main{
	border: 7px ridge #BDBDBD;
	background: #BDBDBD;

	margin-left: auto;
	margin-right: auto;

}
.main-inner{

}
span{
	border: 7px ridge #BDBDBD;
	background: #BDBDBD;
	float: left;
	min-width: 20px !important;
	min-height: 20px !important;
  text-align: center;
}